footer {
  color: $red;
  background-color: $darkblue;
  padding: 5%;
  display: flex;
  flex-flow: row-reverse;

  a {
    @extend %a-link;
    cursor: pointer;
  }
}

.bottom-dock {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;

  &.visible {
    transform: translateY(0);
  }
}

.contact-panel {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 1000px;
  transition: max-height 0.5s ease-in-out;
  text-align: right;
  padding: 2% 5%;
  align-items: flex-end;

  .card {
    // background: linear-gradient($white 0%, $lightblue 100%);
    box-shadow: 0 6px 18px $lightblue  inset;
    align-self: flex-end;
  }


  &.hidden {
    max-height: 0;

    .card {
      opacity: 0;
    }
  }
}