.maps-wrapper {
  position: relative;
  background-color: $lightgrey;
}

#maps {
  position: sticky;
  top: 0;
  width: 100%;
  overflow: hidden;

  .maps-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
