#maps {
  position: relative;
  width: 100%;
  min-height: 460px;
  background-color: $darkblue;
  overflow: hidden;

  .maps-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
