.card,
.skill,
.table,
.tit {
  opacity: 0;
}

.hidden {
  display: none;
}

body {
  text-align: center;
  background-color: $white;
  font-family: 'Hind Madurai', sans-serif;
  margin: 0;
}

section {
  height: 100vh;
}

@media (max-width: 510px) {
  section {
    height: 120%;
  }
}

@media (max-width: 415px) {
  section {
    height: 110%;
  }
}