@import url('https://fonts.googleapis.com/css?family=Federo|IM+Fell+DW+Pica&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind+Madurai:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=HelveticaNeue:400');
$white: rgb(244, 246, 249);
$red: rgb(11, 210, 61);
$lightblue: rgb(216, 237, 255);
$lightgrey: rgb(224, 229, 238);
$darkgrey: rgb(128, 143, 166);
$darkblue: rgb(22, 33, 48);

%a-link {
  color: $red;
  text-decoration: none;
}